<div id='new_time_entry_form' <%= "style='display:none'" unless @same_user %>>
  <fieldset>
    <legend><%= l(:label_new_entry) %></legend>
    <%= form_tag(create_entry_spent_time_path(:from => @from, :to => @to), :id => "form_new_entry", :remote => true) do -%>
      <p>
        <%= l(:label_project) %>
        <% if user_projects_ordered.length == 1
           then %>
            <%= select_tag('project_id', "<option value='#{user_projects_ordered.first.id}' selected>#{user_projects_ordered.first.name}</option>".html_safe)%>
        <% else %>
        	<%= render_project_tree %>                                                     
        <% end %>
      </p>
      <p>
        <%= render :partial => 'fields_for_new_entry_form' %>
      </p>
    <% end -%>
  </fieldset>
</div>
